{{define "page.logs"}}
<div class="log-tabs page-tabs">
  <a class="log-tab page-tab active" data-tab="all">All</a>
  <a class="log-tab page-tab log-tab--relay" data-tab="relay">Relay</a>
  <a class="log-tab page-tab log-tab--video" data-tab="video">Video</a>
  <a class="log-tab page-tab log-tab--peers" data-tab="peers">Peers</a>
  <a class="log-tab page-tab log-tab--errors" data-tab="errors">Errors</a>
  <a class="log-tab page-tab log-tab--data" data-tab="data">Data</a>
  <a class="log-tab page-tab log-tab--group" data-tab="group">Group</a>
  <a class="log-tab page-tab log-tab--encrypt" data-tab="encrypt">Encrypt</a>
  <a class="log-tab page-tab log-tab--cluster" data-tab="cluster">Cluster</a>
  <a class="log-tab page-tab" data-tab="topology">Topology</a>
  {{toggle false "id" "verboseToggle" "title" "Verbose libp2p logging" "style" "margin-left:auto;align-self:center;margin-right:8px"}}
  <span class="muted small" style="align-self:center;margin-right:8px">Verbose</span>
  <button id="copyLogsBtn" class="btn btn-sm" style="align-self:center;" title="Copy logs to clipboard">Copy</button>
</div>

<pre id="logbox" class="content"></pre>
<canvas id="topology-canvas" style="display:none;width:100%;height:calc(100vh - 140px);"></canvas>
{{end}}
