{{define "page.logs"}}
<div class="log-tabs create-tabs">
  <a class="log-tab create-tab active" data-tab="all">All</a>
  <a class="log-tab create-tab log-tab--relay" data-tab="relay">Relay</a>
  <a class="log-tab create-tab log-tab--video" data-tab="video">Video</a>
  <a class="log-tab create-tab log-tab--peers" data-tab="peers">Peers</a>
  <a class="log-tab create-tab log-tab--errors" data-tab="errors">Errors</a>
  <a class="log-tab create-tab log-tab--data" data-tab="data">Data</a>
  <a class="log-tab create-tab log-tab--group" data-tab="group">Group</a>
  <a class="log-tab create-tab" data-tab="api">API</a>
  <button id="copyLogsBtn" class="btn btn-sm" style="margin-left:auto;align-self:center;" title="Copy logs to clipboard">Copy</button>
</div>

<pre id="logbox" class="content"></pre>
<div id="swagger-panel" style="display:none;height:calc(100vh - 120px);overflow:auto;background:#fff;"></div>
{{end}}
