<div class="qz-card">
  <h3><span class="qz-num">{{num}}.</span> {{question}}</h3>
  <div class="qz-options">
    <div class="qz-option">
      <input type="radio" name="q{{_id}}" id="q{{_id}}a" value="a">
      <label for="q{{_id}}a">{{option_a}}</label>
    </div>
    <div class="qz-option">
      <input type="radio" name="q{{_id}}" id="q{{_id}}b" value="b">
      <label for="q{{_id}}b">{{option_b}}</label>
    </div>
    <div class="qz-option">
      <input type="radio" name="q{{_id}}" id="q{{_id}}c" value="c">
      <label for="q{{_id}}c">{{option_c}}</label>
    </div>
    <div class="qz-option">
      <input type="radio" name="q{{_id}}" id="q{{_id}}d" value="d">
      <label for="q{{_id}}d">{{option_d}}</label>
    </div>
  </div>
</div>
